main{
    width: 100%;
    max-width: 1470px;
    margin: 80px auto;
    min-height: 100vh;
}

hr{
    margin: 25px 0;
}

.mainGrid{
    width: 100%;
    margin: auto;
    justify-content: center;
    align-content: center;
}

.mainColumn{
    margin: 0px 5px;
    padding: 5px;
    width: 90%;
}

.cardSections {
    background-color: rgba(251, 250, 252, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    margin-bottom: 10px;
}

/* Profile section */
.profileContainer{
    padding: 0.01em 16px;
    background-color: rgba(106, 200, 200, 0.6);
}

.profileContent h4{
    text-align: center;
    font-weight: 400;
    margin: 15px 0;
    font-size: 20px;
}

.infosProfile {
    text-align: center;
    margin-bottom: 10px;
}

.infosProfile svg{
    width: 20px;
    margin-right: 2px;
    fill: rgba(0, 0, 0, 0.8)
}

.profilePic {
    text-align: center;
}

.profilePic img{
    height: 106px;
    width: 106px;
    vertical-align: middle;
    border-style: none;
}

/* Middle part */
.middleSection {
    padding: 0.01em 16px;
    margin: 16px;
}

.profilePicMiddle{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 16px;
}

.timeTxt{
    float: right;
    opacity: 0.8;
    color: rgb(64, 0, 0);
    font-weight: bold;
}

.amourbienveillance {
	text-align: center;
	font-weight: bold;
	color: rgb(255,  0, 64);
	}
	
.italic {
  font-style: italic;
}	

.thick {
  font-weight: bold;
}

.petiteimagecategorie {
	margin: auto;
	padding: 20px;
    width: 190px;
    overflow-x: visible;
}

.petiteimagearticle {
	margin: auto; 
	width: 190px; 
	margin-bottom: 40px;
}

.imageinterarticle {
	margin: auto;
	width : 100px;
}

.bd {
	max-width: 100%; 
	height: auto;
}

.middleSection h4 {
    margin-top: 18px;
    font-size: 18px;
}

.middleSection p{
    margin-bottom: 20px;
    color: rgb(0, 32, 0);
}

.middleSection a, .middleSection a:visited {
  	 	color: rgb(96, 0, 32);
  	 	font-weight: 600;
}

    .middleSection a:hover {
          color: rgb(0, 32, 0);
    }

    .middleImgContainer {
        margin: auto;
        width: 80%;
        justify-content: space-evenly;
        align-content: center;
    }

@media only screen and (min-width: 375px) {
    .mainColumn{
        width: 80%;
    }
}

@media only screen and (min-width: 425px) {
    .mainColumn{
        width: 70%;
    }

    .middleColumn{
        width: unset;
    }
}

@media only screen and (min-width: 500px)
{
    .mainColumn{
        width: 60%;
    }
}

@media only screen and (min-width: 600px)
{
    .mainColumn {
        width: 50%;
    }
}

@media only screen and (min-width: 768px)
{
    .mainColumn {
        width: 30%;
    }

    .middleColumn {
        width: 60%;
    }

    .middleImgContainer{
        flex-wrap: wrap;
    }

    /* Donations popup */
    .donationContainer {
        position: relative;
        padding: 0.01em 16px;
        background-color: rgba(115, 190, 200, 0.7);
        margin-top: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.7);
        border-top: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: 8%;
        cursor: pointer;
    }

    .closeBtnDonationPopUp {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
    }

        .closeBtnDonationPopUp svg {
            fill: rgba(0, 0, 0, 0.7)
        }

            .closeBtnDonationPopUp svg:hover {
                fill: rgba(0, 0, 0, 1)
            }

    .donationContainer h4 {
        text-align: left;
        font-weight: 600;
        margin: 10px 0;
        font-size: 15px;
    }

    .donationContainer p {
        text-align: left;
        margin-bottom: 10px;
    }

        .donationContainer p svg {
            width: 20px;
            margin-right: 2px;
            fill: rgba(0, 0, 0, 0.8)
        }
}

@media only screen and (min-width: 900px){
    .middleImgContainer {
        flex-wrap: nowrap;
    }
    .middleImgHalf {
        height: unset;
    }
}

@media only screen and (min-width: 1300px)
{
    .mainColumn {
        width: 20%;
    }

    .middleColumn {
        width: 70%;
    }

    .middleImgHalf {
        flex: 1;
        height: 450px;
    }
}

div.gallery {
  border-style: none;
  border-radius: 20px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.responsive2 {
  padding: 0 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media only screen and (max-width: 700px) {
  .responsive , .responsive2 {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive , .responsive2 {
    width: 100%;
  }
}

.shadow {
	filter: drop-shadow(8px 8px 10px purple);
	border-radius: 20px;
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 20px;
}

div.txtcontainer {
  text-align: center;
  padding: 10px 20px;
}