@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    background-image: url("../medias/background.png");
    background-position: center; background-size: cover; background-repeat: no-repeat; background-attachment: scroll;
    text-decoration: none;
    width: 100%;
}

.rowFlex{
    display: flex;
    flex-direction: row;
}

.columnFlex {
    display: flex;
    flex-direction: column;
}

hr{
    border: 0;
    border-top: 2px solid grey;
    margin: 15px 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.clearHR {
    border-top: 2px solid lightgrey;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-family: "Josefin Sans",sans-serif;
}

p, a {
    font-family: "Libre Baskerville",serif;
}

h4 {
    font-family: "Josefin Sans",sans-serif;
}

@media only screen and (min-width: 100px) {
    .hideSmall {
        display: none;
    }

    .wrapSmall{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 768px){
    .hideSmall{
        display: block;
    }

    .wrapSmall{
        flex-wrap: nowrap;
    }
}